name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '18 16 1/7 * *'

jobs:
  lint-markdown:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Setup Node.js
      uses: actions/setup-node@v1

    - name: Install awesome-lint
      run: npm install --global https://github.com/gbdev/list-linter

    - name: Run awesome-lint
      run: awesome-lint

  check-deadlinks:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Download brok package
      run: wget https://github.com/smallhadroncollider/brok/releases/download/1.1.0/brok-1.1.0_x86-64-linux.deb

    - name: Install brok (and dependencies)
      run: |
        sudo apt-get install libtinfo5
        sudo dpkg -i brok-1.1.0_x86-64-linux.deb

    - name: Run awesome-lint
      run: brok --only-failures *.md
