name: CI

on:
  push:
#  schedule:
#  - cron: 0 0 * * *

jobs:
  awesome-lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Setup Node.js
      uses: actions/setup-node@v1

    - name: Install awesome-lint
      run: npm install --global https://github.com/gbdev/awesome-gbdev-lint

    - name: Run awesome-lint
      run: awesome-lint
